[Unit]
Description=scm control plane daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=scmctld
Group=scmctld
ExecStart=/usr/local/bin/scmctld -config /etc/scm/scmctld.yaml
Restart=on-failure
WorkingDirectory=/var/lib/scm

[Install]
WantedBy=multi-user.target
