[Unit]
Description=scm host agent daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=scmctld-agent
Group=scmctld-agent
ExecStart=/usr/local/bin/scmctld-agent -config /etc/scm/scmctld-agent.yaml
Restart=on-failure
WorkingDirectory=/var/lib/scm/scmctld-agent

[Install]
WantedBy=multi-user.target
